body {
    
    text-align: center;
    margin: 5px;
    font-family: helvetica, serif;
    background-size: cover;
    height: 100%;
    background-image: url("./Imagenes/globos.jpg");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

iframe {
    size: 0ch;
   
    
}

h1 {
    background-color: pink;
    padding: 15px 32px;
}

.foot {
    background-color: (336, 71%, 95%, 1); 
}

h2 ,h3{
    font-family: Snell Roundhand, cursive;
    font-size: xx-large;
    background-color: hsla(0,0%,100%,0.3);
    padding: 15px 32px;
    
}

p {
  background-color: pink;
  border: none; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


p:hover {
    color: pink;
    cursor:pointer;
    background-color: white;
}
