body {
    
    text-align: center;
    margin: 5px;
    font-family: helvetica, serif;
    background-size: cover;
    height: 100%;
    background-image: url("./Imagenes/globos.jpg");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.videos {
    
   
    
}

h1 {
    background-color: pink;
}

.foot {
    background-color: pink;
}

h2 ,h3{
    font-family: Snell Roundhand, cursive;
    font-size: xx-large;
    background-color: rgba(168, 176, 231, 0.475);
    
}

p {
    font-size: x-large;
}
