body {
    
    text-align: center;
    margin: 5px;
    font-family: helvetica, serif;
    background-size: cover;
    height: 100%;
    background-image: url("./Imagenes/globos.jpg");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

iframe {
    size: 0ch;
   
    
}

h1 {
    background-color: pink;
}

.foot {
    background-color: pink;
}

h2 ,h3{
    font-family: Snell Roundhand, cursive;
    font-size: xx-large;
    background-color: white;
    
}

p {
  border: 2px solid #0c960c;
  border-radius: 5px;
  color: #F8F8F8;
  text-shadow: 0 -2px #006bb3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: #1D1;
  background: linear-gradient(#1D1, #0ebc0e);
  text-shadow: 0 -2px #0c960c;
  
}


p:hover {
    color:white;
    cursor:pointer;
}
